.profile-layout {
    display: flex;
    flex-direction: row;
    padding:2em;
   
    
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
}

.profile-main {
flex: 1;
}