
.header{
    background-color:#1b1b1b ; 
    display:flex;
    align-items: center;
    
}

.header-links{
display:flex;
justify-content: space-between;
width:100%;
}

.title{
    font-size: larger;
    color:white;
    padding-left: 2rem;
    
}
.sign-up{
    font-size: larger;
    color:white;
    padding-right: 2rem;
}

