.match-history {
    color: white;
    
}

.champion-and-spells {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.champion-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.summoner-spells {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2px;
}

.spell-icon {
    width: 25px;
    height: 25px;
    border-radius: 7px;
}

.empty-spell {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: #1b1b1b;
}

.match-entry {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 8px;
    margin-bottom: 0.5em;
    gap: 1em;
}

.match-entry.victory {
    background-color: #28432e;
}

.match-entry.defeat {
    background-color: #4e2828;
}

.match-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.match-result {
    min-width: 60px;
    color: #aaaaaa;
    font-size: 16px;
}

.champion {
    min-width: 100px;
    margin-bottom: 1em;
    font-size: 16px;
    color: white;
}

.game-mode {
    min-width: 80px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.game-mode.victory {
    color: #4b995c;
}

.game-mode.defeat {
    color: #c0392b;
}

.match-duration {
    min-width: 60px;
    color: #aaaaaa;
    font-size: 12px;
}

.items-and-stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.match-stats {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.divider {
    background-color: #aaaaaa;
    width: 1px;
    height: 5em;
}

.stats {
    font-size: 16px;
    min-width: 80px;
    font-weight: bold;
}

.kda {
    min-width: 80px;
    color: #aaaaaa;
    font-size: 12px;
}

.cs {
    min-width: 50px;
    color: #aaaaaa;
    font-size: 12px;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: start;
}

.item-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.empty-item {
    width: 30px;
    height: 30px;
    background-color: #1b1b1b;
    border-radius: 5px;
}

.match-players {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.player-entry {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.player-champion-icon {
    width: 20px;
    height: 20px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.player-name {
    color: #aaaaaa;
    font-size: 12px;
}