.match-players{
display:flex;
flex-direction:row;
gap:0.5em;

}

.player-entry{
display:flex;
align-items: center;
gap:0.5em;


}

.player-champion-icon {
width:20px;
height:20px;
border-radius:7px;
margin-bottom: 5px;
}
.player-name {
color:#aaaaaa;
font-size:12px;

}