.rank-card {
    display: flex;
    flex-direction: column;
    color:white;
    background-color:#1b1b1b;
    gap:2em;
    border-radius: 10px;
    margin-inline: 2em;
    border: 2px solid red;
    align-self: flex-start;
    width:20%;
}


.rank-emblem {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}


.rank-entry {
display: flex;
flex-direction: row;
background-color: rgb(44, 44, 44);
border-radius: 10px;
align-items: center;
padding-inline: 0.5em;
}


.rank-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
