.champion-stats {
    display: flex;
    flex-direction: column;
    background-color:  rgb(44, 44, 44);
    border-radius: 8px;
    padding-bottom: 15px;
    margin-top: 0.5em;
    color: #fff;
    margin-inline: 0.5em;
    
    
}

.champion-entry{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 8px;
    font-size:12px;
    justify-content: space-between;
    
    
}

.champ-icon{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.champ-divider {
    background-color: #aaaaaa;
    width: 100%;
    height: 1px;
    
}

.name-and-cs {
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.games-and-winrate {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
}

.stats-and-kda{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.champ-icon-name-cs{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
}



