.filter-buttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:2em;
    background-color:#2c2c2c;
    border-radius:10px ;
    margin-top:0.5em;
    margin-bottom:0.5em;
    width:100%;
}



.filter-buttons button{
    border:none;
    outline:none;
    cursor:pointer;
    background-color: transparent;
    color:white;
    font-size:1em;
    padding:0.5em 1em;
}

.filter-buttons button:hover{
    background-color: #3d3d3d;
}

.no-matches {
    color: #aaaaaa;
    font-size: 18px;
    text-align: center;
    margin-top: 2em;
}